<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><i class="icon-laptop"></i> IT Requests</a>
			<ul class="nav" role="navigation">
				<li class="dropdown">
					<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
						Reports <b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#">Request Allocation By Team</a></li>
						<li><a href="#">Request Allocation By User</a></li>
					</ul>
				</li>	
				<li class="dropdown">
					<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">Links <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#">IS Application Event Notification</a></li>
						<li><a href="#">IS System Event Notification</a></li>
						<li><a href="#">Production Change Management</a></li>
						<li><a href="#">Risk/Impact Form</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">About <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#">Reference Guide</a></li>
						<li><a href="#">Process Documentation</a></li>
						<li><a href="#">Process Flow</a></li>
						<li><a href="#">Priority Definitions</a></li>
						<li><a href="#">Triage Process</a></li>
						<li><a href="#">Framework for Resource Allocation</a></li>
						<li><a href="#">Pivot Table Reference</a></li>
						<li><a href="#">Project Maintenance Responsibilities</a></li>
					</ul>
				</li>						
			</ul>					
			<form class="navbar-search pull-right" action="/requests" method="get">
				<input type="text" name="q" class="search-query" placeholder="Search" value="<%= @query %>"/> 
			</form>
			<%= link_to "New Request", new_request_url, :class => "btn btn-success pull-right" %>
		</div>
	</div>
</div>